.img {
    position: relative;
}

.btn_back {
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 40px;
    width: 60px;
    height:60px;
    align-items: center;
    padding: 1px;
    background-color: #a8a2a2;
    border: none;
    font-size: 30px;
    box-shadow: 5px 5px 8px 1px rgba(84, 82, 82, 0.24);
    transition: 0.2s all;
}
.btn_back:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(131, 128, 128, 0.24);
}
.img_item {
    width: 100%;
    aspect-ratio: 4/2;
    min-width: auto;
}

.item_title {
    color: black;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

.item_subtitle {
    font-size: 18px;
    color: #757373;
    align-content: start;
    margin-top: 10px;
}

.item_desc {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.rating {
    font-weight: bold;
}
.item_dish{
    border-top: solid #aba5a5;
    border-top-width: thin;
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-around;
}
.RestaurantDetail_Menu{
    margin-left: 20px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bolder;
}
@media (max-width: 400px) {
    .item_title {
        color: black;
        font-size:20px;
    }

    .item_subtitle {
        font-size: 15px;
        color: #757373;
        align-content: end;
        margin-top: 10px;
    }
    .btn_back{
        top: 10px;
        left: 5px;
        border-radius: 15px;
        width: 25px;
        height: 25px;
        padding: 1px;
    }
}
